
.body_index {
  background-image: image-url("bar_front");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.header {
  color: white;
}

.footer {
 background-color: #292927;
 color: white;
 text-align: center;
 height: 50px;
}

// Specific CSS for your home-page

